name: Laravel CI

on:
    push:
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:

    # testing
      tests:
        runs-on: ubuntu-latest
        
        steps:
            - name: Checkout code
              uses : actions/checkout@v4

            - name: SetupMySQL
              uses: mirromutth/mysql-action@v1.1
              with: 
                mysql version: '8.0'
                mysql database: laravel_ci
                mysql root password: 'root'

            - name: set up PHP
              uses: shivammathur/setup-php@v2
              with:
                php-version: '8.2'
                extensions: mbstring, pdo_mysql, dom, fileinfo
                tools: composer

            - name: Install Composer dependencies
              run: composer install --no-progress --no-interaction --prefer-dist

            - name: Configure Environment
              run: |
                cat > .env <<'EOF'
                APP_ENV=testing
                APP_DEBUG=true
                APP KEY=
                DB_CONNECTION=mysql
                DB_HOST=127.0.0.1
                DB_PORT=3306
                DB_DATABASE=laravel_ci
                DB_USERNAME=root
                DB_PASSWORD=root
                CACHE_DRIVER=file
                SESSION_DRIVER=array
                QUEUE_CONNECTION
                EOF
                php artisan key:generate
                php artisan config:clear

            

            - name: Wait for MYSQL
              run: |
                sudo apt-get update && sudo apt-get install -y mysql-client
                for i in {1..40}; do
                  mysqladmin ping -h 127.0.0.1 -u root -proot && break
                  echo "Waiting for MYSQL ($i/40)..."
                  sleep 2
                done
                mysql -h 127.0.0.1 -uroot -proot -e "SHOW DATABASES;"

            - name: Run database migrations
              run: php artisan migrate:fresh
              
              
            - name: Run Seeder test
              run: php artisan test --filter=DatabaseSeederTest
